*{
    box-sizing: border-box;
}

.box{
    width: 800px;
    border: solid black;
}
#myBox{
    border: solid ;
    width: 100px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 8px;
    position: relative;
}
.yellow{
    background-color: yellow;
}

#myButton1{
    font-size: 2rem;
    margin: 10px;
    border : none;
    border-radius : 5px;
    padding: 10px 15px;
}
.enabled{
    background-color: aqua;
}
.hover{
    background-color: aliceblue;
}

.disabled{
    background-color: aquamarine;
    color: greenyellow;
}