body{
    padding:3px;
    text-align: center;
}
#Mybutton{
    height:50px;
    width:60px;
    border-radius: 10px;
    border: none;
    background-color: cadetblue;
}
#Mylabel{
    display: inline-block;

    height: 40px;
    width: 50px;

    border-radius: 10px;
    background-color: aquamarine;
    font-size: 2em;
}